<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login | Karya-Anti</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="Logo-icon">
  <link href="Login.css" rel="stylesheet">
  
</head>

<body>

  <div class="login-page-container">

    <div class="login-header">
      <div class="login-name-and-waves">

        <div class="login-inner-header" id="login-flexbx">
          <div class="login-name"><br><br><br><br><br><br><br>
            <h1>KRAYA-ANTI</h1><br>
            <h2>BECAUSE EVERYTHING HAS A <br>NEW BEGINNING</h2>
          </div>
        </div>
        
        <!--Waves Container-->
        <div>
          <svg class="login-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          
          <g class="login-parallax">
            <use xlink:href="#gentle-wave" x="4" y="0" fill="rgba(255,255,255,0.7)" />
            <use xlink:href="#gentle-wave" x="4" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="4" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="4" y="7" fill="#fff" />
          </g>

          </svg>
        </div>
        <!--Waves end-->
      </div>
    </div>
    
    <div class="login-main-card">
      <div class="login-main-top-block1"></div>
      <div class="login-main-top-block2"> </div>
      <div class="login-main-title">
          <h1>User Login</h1>
      </div>
      <div class="login-main-input-block">
          <div class="login-main-block"><i class="login-main-fas fa-user-alt"></i><input class="login-main-txtfld" placeholder="Username" /></div>
          <div class="login-main-block"><i class="login-main-fas fa-lock"></i><input type="password" class="login-main-txtfld" placeholder="Password" /></div>
          <button id="login-main-btn">Proceed</button>
      </div>
      <div class="login-main-link-block">
          <div class="login-main-block">
            <div class="login-main-link">Don't have a registered account?</div>
          </div>
      </div>
      <div class="login-main-link-block">
        <div class="login-main-block">
          <div class="login-main-linking"><a href="https://google.com" id="Signup-linking">Redirect to Sign-Up</a></div>
        </div>
      </div>
    
    </div>

  </div>

</body>

</html>