:root {
    --font-style: 'Lato', sans-serif;
    --margins: 12%;
    --cover-image-height: 15%;
    --cover-color: rgb(47, 51, 54);
    --cover-filter-brightness: 80%;
    --text-color: rgb(48, 48, 48);
    --border-line-color: black;
    --border-line-thickness: 1px;
    --details-heading-color: #aaaaaa;
    --details-text-color: black;
    --distributor-name-color: rgb(39, 39, 39);
    --map-height: 250px;
    --list-height: 250px;
    --list-item-height: 33.33%;
    --scroll-bar-width: 4px;
}

.page-section-title {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    text-align: left;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--details-heading-color);
    font-family: "Poppins", sans-serif;
}
.contact-text-indentation {
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    letter-spacing: 2px;
    padding-left: 30px;
    color: var(--details-text-color);
    font-family: "Poppins", sans-serif;
}

.cover-image-div {
    background-image: url("./images/flo.jpg");
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
}

.cover-image {
    width: 100%;
    filter: brightness(var(--cover-filter-brightness));
}

.cover-image-show {
    width: 100%;
    padding-top: var(--cover-image-height);
}

.profile-main {
    margin-left: var(--margins);
    margin-right: var(--margins);
}

.distributor-profile {
    padding: 24px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
}

 @media only screen and (max-width: 1000px) {
    .main {
        margin: 0px;
    }
}

.underline-separation-below {
    padding-bottom: 10px;
    border-bottom: var(--border-line-thickness) solid var(--border-line-color);

}


        .distrib-name {
            font-style: var(--font-style);
            font-size: 36px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            padding-top: 15px;
            color: var(--distributor-name-color);
        }

        .distrib-address {
            padding-left: 2px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 20px;
            width: 70%;
            color: var(--text-color);
        }

        .distrib-district-state {
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 24px;
            color: var(--text-color);
        }

        .distrib-rating {
            letter-spacing: 1.5px;
            text-transform: uppercase;
            padding-top: 5px;
            font-size: 20px;
            color: var(--text-color);
        }

        .distrib-contact-details {
            padding-top: 25px;
        }

        .map {
            width: 100%;
            height: var(--map-height);
        }

        .web-links {
            text-decoration: none;
            color: rgb(33, 101, 255);
            transition: 0.1s ease-in;
        }

        .web-links:hover {
            text-decoration: none;
            color: #000000;
        }
/*
        .distributed-items-list-div {
            padding-top: 24px;
            width: 100%;
        }

        .padding-top {
            padding-top: 24px;
        }

        .unordered-item-list {
            height: var(--list-height);
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            padding: 0 5px 0 5px;
            border: 1px #c9c9c9 solid;
        }

        .list-item {
            list-style: none;
            width: 100%;
            height: var(--list-item-height);
            overflow: hidden;
            border-bottom: 1px solid #c9c9c9;
        }

        .list-item:last-child {
            border-bottom: none;
        }

        .pricing-details {
            padding-top: 5px;
            padding-bottom: 5px;
            color: var(--distributor-name-color);
        }

        .item-name {
            padding-top: 20px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            color: var(--distributor-name-color);
        }

        .reviews-list-div {
            padding-top: 24px;
            width: 100%;
        }

        .review {
            height: auto;
            padding: 2% 5%;
            border-bottom: 1px solid #c9c9c9;
            text-align: justify;
        }


        /* width */
        *::-webkit-scrollbar {
            width: var(--scroll-bar-width);
        }

        /* Track */
        *::-webkit-scrollbar-track {
            background: hsl(0, 0%, 42%);
            border-radius: var(--scroll-bar-width);
        }

        /* Handle */
        *::-webkit-scrollbar-thumb {
            background: rgb(184, 184, 184);
            border-radius: calc(var(--scroll-bar-width));
        }

        /* Handle on hover */
        *::-webkit-scrollbar-thumb:hover {
            background: rgb(126, 149, 255);
        }